<div class="aman_cent">
    <div class="amaz_auto">
        <div class="amaz_subff">
            Your Position : <a href="/">Home</a>
            @foreach (var item in ViewData.Model.Cates)
            {

                &gt; <span class="amaz_lac"><a href="/category/@{@item.id}_@item.category_name" alt="@item.category_name" title="Power">@item.category_name</a></span>
            }
            <!--&gt; <span class="amaz_lac"><a href="http://www.aukey.com/category/Power" alt="Power" title="Power">Power</a></span>
            &gt; <span class="amaz_lac"><a href="http://www.aukey.com/category/Car_Chargers" alt="Car Chargers" title="Car Chargers">Car Chargers</a></span>
                -->
            &gt; <span class="amaz_lac">@ViewBag.Model.ProductName</span>
        </div>
        <div class="amaz_datbox power_first">
            <div class="clear"></div>
            <div class="amaz_datbox con">
                <div class="amaz_lrslid">
                    <div class="amaz_datimg">
                        <img src="@ViewData.Model.image_path" width="445" height="378">
                        <!-- 图片变换速度慢问题 -->
                        @foreach (var item in ViewBag.Model.ImagePaths)
                        {
                            <img src="@item.image_path" width="445" height="378" style="display:none;">
                        }
                        <!-- <img src="images/1512/cc_s5_1.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_2.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_3.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_4.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_5.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_6.jpg" width="445" height="378" style="display:none;">
                         <img src="images/1512/cc_s5_7.jpg" width="445" height="378" style="display:none;">
                        -->
                    </div>
                    <!--  <div class="amaz_chag style_ico_a">
                     </div> -->
                    <div class="amanz_imbox">
                        <div class="amaz_ckbox">
                            <div class="amaz_lim">
                                <span class="lim_lf"><span class="gavy_triglel_f"></span></span>
                                <span class="lim_lr"><span class="gavy_triglel_r"></span></span>

                                <div class="show_limbox">
                                    <ul class="sery_im">
                                        @foreach (var item in ViewData.Model.ImagePaths)
                                        {
                                            <li><img check-img="@item.image_path" src="@item.small_path"></li>
                                        }
                                        <!--<li><img check-img="images/1512/cc_s5_2.jpg" src="images/thumbs/product/48830/cc_s5_2.thumbs.500x500.jpg"></li>
                                          <li><img check-img="images/1512/cc_s5_3.jpg" src="images/thumbs/product/48830/cc_s5_3.thumbs.500x500.jpg"></li>
                                          <li><img check-img="images/1512/cc_s5_4.jpg" src="images/thumbs/product/48830/cc_s5_4.thumbs.500x500.jpg"></li>
                                          <li><img check-img="images/1512/cc_s5_5.jpg" src="images/thumbs/product/48830/cc_s5_5.thumbs.500x500.jpg"></li>
                                          <li><img check-img="images/1512/cc_s5_6.jpg" src="images/thumbs/product/48830/cc_s5_6.thumbs.500x500.jpg"></li>
                                          <li><img check-img="images/1512/cc_s5_7.jpg" src="images/thumbs/product/48830/cc_s5_7.thumbs.500x500.jpg"></li>
                                            -->
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="amaz_lfslid">

                    <div class="gods_head">@ViewBag.Model.ProductName                   </div>
                    <!-- 价格 -->
                    <!-- <div class="product_price">$</div> -->
                    <!--  <div class="product_short_desc">Array</div> -->
                    <!-- 黑白 -->


                    <div class="amz_buy_city">
                        Choose Your Country:
                        <div class="buy_url type_Black" style="">
                            <a class="amaz_currt" href="javascript:void(0)" url="@ViewData.Model.AmazonUrl">United States</a>
                            
                            @*<a href="javascript:void(0)" url="http://www.amazon.ca/dp/B014R1KEM6">
                                Canada
                            </a>
                            <a href="javascript:void(0)" url="&nbsp;http://www.amazon.co.uk/dp/B019XP8PMM">
                                United Kingdom
                            </a>
                            <a href="javascript:void(0)" url="http://www.amazon.de/dp/B018JELSJ0">
                                Germany
                            </a>
                            <a href="javascript:void(0)" url="http://www.amazon.fr/dp/B018I87UCG">
                                France
                            </a>
                            <a href="javascript:void(0)" url="http://www.amazon.it/dp/B018KFD1SY">
                                Italy
                            </a>*@
                        </div>

                    </div>
                    <div class="btn_box_buylink"><a target="_blank" href="@ViewData.Model.AmazonUrl" class="buy-button">Buy on Amazon</a></div>
                    <!--  <div class="link_icon">
                         <li><a href=""><img src="images/new/link1.jpg"></a></li>
                         <li><a href=""><img src="images/new/link2.jpg"></a></li>
                         <li><a href=""><img src="images/new/link3.jpg"></a></li>
                         <li><a href=""><img src="images/new/link4.jpg"></a></li>
                         <li><a href=""><img src="images/new/link5.jpg"></a></li>
                         <li><a href=""><img src="images/new/link6.jpg"></a></li>
                         <li><a href=""><img src="images/new/link7.jpg"></a></li>
                     </div> -->
                    <!--<div class="amaz_commen amaz_txt"><span class="com_str"></span>Score : 4.8   </div>-->


                </div>
            </div>
            <div class="clear"></div>
            <div class="amaz_bufhead Product">
                <div class="amaz_bufhead info">
                    <!-- <hr> -->
                    <p>Product Specification</p>
                    <div class="pro_spe">
                        @ViewData.Model.Specification
                    </div>
                     
                </div>
                <div class="amaz_bufhead Features">
                    <p>Product Features</p>
                    <div class="Features amaz_txt">
                        @ViewData.Model.Features
                    </div>
                     
                </div>

            </div>

        </div>
    </div>
</div>